.section-error {
  background-image: url('/assets/images/error/1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  height: 75vh;
}
