//-------------------------------------------- 
// Overflow
//--------------------------------------------
.js-overflow {
  overflow: hidden;
}

.quisuisje {
  @media (min-width: $mq-small) {
    display: block;
  }

  @media (min-width: $mq-med) {
    display: flex;
  }

  @media (min-width: $mq-xlarge) {
    display: flex;
  }

  img.me {
    margin-right: 2em;
    width: 250px;
    height: 300px;
  }
}

.left {
  @media (min-width: $mq-med) {
    flex: 1;
  }

  @media (min-width: $mq-xlarge) {
    flex: 1;
  }
}

.right {
  @media (min-width: $mq-med) {
    flex: 1;
  }

  @media (min-width: $mq-xlarge) {
    flex: 1;
  }
}

.emote {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline !important;
  margin-right: 2px !important;
  margin-bottom: unset !important;
}

.rawp {
  border: 1px dashed rgb(202, 202, 202);
  border-radius: 10px;
  text-align: center;
  cursor: pointer !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  min-width: 0 !important;
  margin: 12px 0 18px 0;
  width: 100%;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 280px;
    height: 280px;
  }

  & * {
    min-width: 0 !important;
    max-width: none !important;
  }

  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 100%;
    background: url("/assets/images/pub/taatoo-728x90.png") no-repeat ;
    background-size: 728px 90px;
    background-position: center;
    min-height: 90px;
    @media screen and (max-width: 768px) {
      background: url("/assets/images/pub/taatoo-250x250.png") no-repeat ;
      background-size: 250px 250px;
      background-position: center;
      min-height: 250px;
    }
  }

  & img {
    cursor: pointer !important;
    border-radius: 10px;
  }

  & span {
    text-align: right;
    color: rgb(107, 107, 107);
    font-size: 12px;
    margin-top: 2px;
    position: absolute;
    bottom: -24px;
    right: 0;
  }
}
