//-------------------------------------------- 
// Overflow
//--------------------------------------------
.js-overflow {
  overflow: hidden;
}

.quisuisje {
  @media (min-width: $mq-small) {
    display: block;
  }

  @media (min-width: $mq-med) {
    display: flex;
  }

  @media (min-width: $mq-xlarge) {
    display: flex;
  }

  img.me {
    margin-right: 2em;
    width: 250px;
    height: 300px;
  }
}

.left {
  @media (min-width: $mq-med) {
    flex: 1;
  }

  @media (min-width: $mq-xlarge) {
    flex: 1;
  }
}

.right {
  @media (min-width: $mq-med) {
    flex: 1;
  }

  @media (min-width: $mq-xlarge) {
    flex: 1;
  }
}

.emote {
  vertical-align: top;
  width: 30px;
  height: 30px;
  display: inline !important;
  margin-right: 2px !important;
}
