<!DOCTYPE html>
<html lang="fr">
<head>

  {% include head.html %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153641953-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-153641953-1');
  </script>
  <script async 
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7190479662443667"
          crossorigin="anonymous">
  </script>

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">

  {% include header.html %}
  <main class="💈">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
